body {
    background-color: lightgrey;
    font-family:'Times New Roman';
    font-size: large;
}

.header h1{
    font-weight: bold;
}

form {
    margin-top: 20px;
}

.block {
    margin-top: 10px;
    display: block;
}

#slider-time .tick text {
    fill: black;
    font-size: small;
}

#legend .tick text {
    font-size: small;
}